{% extends 'base.html' %}

{% block content %}
  <div class="container my-4">
    <h1 class="mb-4 text-center text-success">Lista de Locais</h1>

    <div class="d-flex justify-content-between mb-3">
      <a href="{% url 'criar_local' %}" class="btn btn-lg card-sports card-labels">
        <i class="bi bi-plus-circle"></i> Criar Novo Local
      </a>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="table-success">
          <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Capacidade</th>
            <th>Gestor</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for local in locais %}
            <tr>
              <td>{{ local.nome }}</td>
              <td>{{ local.endereco }}</td>
              <td>{{ local.capacidade }}</td>
              <td>{{ local.anfitriao }}</td>
              <td class="d-flex justify-content-around">
                <!-- Botão de Editar -->
                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop" 
                  data-id="{{ local.id }}" data-nome="{{ local.nome }}" data-anfitriao="{{local.anfitriao}}" 
                  data-latitude="{{ local.latitude }}" data-longitude="{{ local.longitude }}" data-endereco="{{ local.endereco }}" 
                  data-capacidade="{{ local.capacidade }}">
                  <i class="bi bi-pencil"></i> Editar
                </button>

                <!-- Botão para Visualizar Mapa -->
                <button class="btn btn-info btn-sm visualizar-mapa" 
                  data-latitude="{{ local.latitude }}" 
                  data-longitude="{{ local.longitude }}" 
                  data-nome="{{ local.nome }}">
                  <i class="bi bi-geo-alt"></i> Mapa
                </button>

                <!-- Botão de Excluir -->
                <a class="btn btn-danger btn-sm" href="{% url 'excluir_local' local.id %}" 
                   onclick="return confirm('Tem certeza que deseja excluir esse local?');">
                  <i class="bi bi-trash"></i> Excluir
                </a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5" class="text-center">Nenhum local encontrado.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

  <!-- Modal de Edição -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Local</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="editarForm" method="POST" action="{% url 'editar_local' 0 %}">
          {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="mb-3">
              <label for="endereco" class="form-label">Endereço</label>
              <input type="text" class="form-control" id="endereco" name="endereco" required>
            </div>
            <div class="mb-3">
              <label for="capacidade" class="form-label">Capacidade</label>
              <input type="number" class="form-control" id="capacidade" name="capacidade" required>
            </div>
            <div class="mb-3">
              <label for="anfitriao" class="form-label">Anfitrião</label>
              <select name="anfitriao" class="form-control" id="anfitriao" required>
                <option value="" selected hidden disabled></option>
                {% for anfitriao in anfitriaos %}
                  <option value="{{ anfitriao.username }}">{{ anfitriao.username }}</option>
                {% endfor %}
              </select>
            </div>            
            <div class="mb-3">
              <label for="latitude" class="form-label">Latitude</label>
              <input type="number" class="form-control" id="latitude" name="latitude" disabled>
            </div>
            <div class="mb-3">
              <label for="longitude" class="form-label">Longitude</label>
              <input type="number" class="form-control" id="longitude" name="longitude" disabled>
            </div>        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" id="editarLocal" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    
    // Preencher os campos do modal com os dados do local
    const editarButtons = document.querySelectorAll('.btn-warning');
    editarButtons.forEach(button => {
      button.addEventListener('click', function () {
        const id = this.getAttribute('data-id');
        const nome = this.getAttribute('data-nome');
        const endereco = this.getAttribute('data-endereco');
        const capacidade = this.getAttribute('data-capacidade');
        const anfitriao = this.getAttribute('data-anfitriao');
        let latitude = this.getAttribute('data-latitude');
        let longitude = this.getAttribute('data-longitude');
        
        latitude = latitude.replace(',','.')
        longitude = longitude.replace(',','.')

        console.log(anfitriao)

        // Preenche os campos do modal
        document.getElementById('nome').value = nome;
        document.getElementById('endereco').value = endereco;
        document.getElementById('capacidade').value = capacidade;
        
        document.getElementById('latitude').value = latitude;
        document.getElementById('longitude').value = longitude;
        document.getElementById('anfitriao').value = anfitriao;

        // Atualiza o método da URL para o local específico
        const form = document.getElementById('editarForm');
        form.action = '{% url "editar_local" "0" %}'.replace('0', id);
      });
    });

    const visualizarButtons = document.querySelectorAll('.visualizar-mapa');
    visualizarButtons.forEach(button => {
      button.addEventListener('click', function () {
        const latitude = this.getAttribute('data-latitude');
        const longitude = this.getAttribute('data-longitude');
        const nome = encodeURIComponent(this.getAttribute('data-nome')); // Codificar o nome para uso seguro na URL

        // Redirecionar para a página do mapa com parâmetros
        window.location.href = `/local/mapa?latitude=${latitude}&longitude=${longitude}&nome=${nome}`;
      });
    });

  </script>
{% endblock %}
