<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TocLoc</title>
    <!-- Link para o Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home"><span class="h1 fw-bold mb-0" style="color: rgb(74,222,128);"><i class="fa-solid fa-futbol"></i> TocLoc</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/reservas/reservas/">Reserva</a>
              </li>
              {% if request.user.tipo_usuario != 'visitante' %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/local">Local</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/disponibilidade/disponibilidades/">Disponibilidade</a>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex" role="search">
              <!-- Botão de deslogar -->
              <a href="/logout" class="btn btn-outline-danger logout-button">
                Deslogar
              </a>
              <!-- Botão de deslogar -->
            </form>
          </div>
        </div>
      </nav>
      {% block content %}
      {% endblock %}

      {% block script %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
      {% endblock %}
</body>
</html>
